/* Static CSS for Bookstore */

/* Reset default margin and padding */
html, body, h1, h2, h3, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
}

/* Set box-sizing to border-box for all elements */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

/* Navigation styles */
nav {
    margin-top: 10px;
    min-width: 200px;

}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Main styles */
main {
    padding: 20px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}




.search-container .search-input {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 8px;
    margin-left: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
